%h1 Employee Dashboard

%table{:border => 1, :style => "text-align: center;"}
  %thead
    %tr{:style => "text-align: center;"}
      %th Start
      %th End
      %th Notes
  %tbody
    %tr 
      %th 1:00
      %th 2:30
      %th Meeting
%br

.row
  = link_to 'Clock In', new_timetable_path, class: 'btn btn-light bg-dark text-light white row_with_padding'
  = link_to 'Clock Out', new_timetable_path, class: 'btn btn-light bg-dark text-light white row_with_padding'
