%h2 Login or Register,

.row
  = button_to "Login", login_path, method: :get, class: 'btn btn-primary primary-button'
  = button_to "Register", register_path, method: :get, class: 'btn btn-primary primary-button'